/AdditionalScripts/PlotScripts/Nutrient.png
/AdditionalScripts/PlotScripts/Bacteria.png
/AdditionalScripts/PlotScripts/BacteriaDeath.png
/AdditionalScripts/PlotScripts/BacteriaMove.png
/AdditionalScripts/PlotScripts/BacteriaReplication.png
/AdditionalScripts/PlotScripts/Nut.png
/AdditionalScripts/PlotScripts/SCFA.png
/AdditionalScripts/PlotScripts/SCFABac.png
/AdditionalScripts/PlotScripts/SCFADeath.png
/AdditionalScripts/PlotScripts/SCFAMove.png
/AdditionalScripts/PlotScripts/SCFAReplication.png
/AdditionalScripts/PlotScripts/Test.png
/AdditionalScripts/PlotScripts/Test1.png
/AdditionalScripts/PlotScripts/Test1Death.png
/AdditionalScripts/PlotScripts/Test1Move.png
/AdditionalScripts/PlotScripts/Test1Replication.png
/AdditionalScripts/PlotScripts/Test1Size.png
/AdditionalScripts/PlotScripts/TestDeath.png
/AdditionalScripts/PlotScripts/TestMove.png
/AdditionalScripts/PlotScripts/TestReplication.png
/AdditionalScripts/PlotScripts/testSize.png
/results/*
!results/.gitkeep.txt