[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
NL4PY = "https://pypi.org/project/NL4Py/"
python-libsbml = "https://pypi.org/project/python-libsbml/"
statsmodels = "https://pypi.org/project/statsmodels/"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
